.sidebar-nav {
    counter-reset: h1toc;
}

.sidebar-nav>ul>li>a:before {
    counter-increment: h1toc;
    content: counter(h1toc) ". ";
}

.sidebar-nav>ul>li {
    counter-reset: h2toc;
}

.sidebar-nav>ul>ul>li>a:before {
    counter-increment: h2toc;
    content: counter(h1toc) ". " counter(h2toc) ". ";
}

.sidebar-nav>ul>ul>li {
    counter-reset: h3toc;
}

.sidebar-nav>ul>ul>ul>li>a:before {
    counter-increment: h3toc;
    content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". ";
}

.sidebar-nav>ul>ul>ul>li {
    counter-reset: h4toc;
}

.sidebar-nav>ul>ul>ul>ul>li>a:before {
    counter-increment: h4toc;
    content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". ";
}

.sidebar-nav>ul>ul>ul>ul>li {
    counter-reset: h5toc;
}

.sidebar-nav>ul>ul>ul>ul>ul>li>a:before {
    counter-increment: h5toc;
    content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". " counter(h5toc) ". ";
}

.sidebar-nav>ul>ul>ul>ul>ul>li>a:before {
    counter-reset: h6toc;
}

.sidebar-nav>ul>ul>ul>ul>ul>ul>li>a:before {
    counter-increment: h6toc;
    content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". " counter(h5toc) ". " counter(h6toc) ". ";
}

img {
    max-height: 400px;
}

blockquote {
    color: black !important;
    padding: 10px 16px;
    background-color: #d9f1e6;
    position: relative;
    border-left: none;
}

blockquote p {
    font-weight: normal !important;
}

blockquote strong {
    font-weight: bold  !important;
    color: black !important;
}



/* pour accordify. 
fait en sorte que le panel ne prend pas de place quand il n'est pas ouvert 
*/
.panel.opened {
    display:block;
}

.panel {
    display:none;
}
